/.phpunit.cache
/node_modules
/public/build
/public/images
/public/lady-driver-63940-9715da018167.json
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
